body *{
    user-select:none;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
}

.disable_scrollbars::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

button.active img {
    filter: invert(1) hue-rotate(180deg);
}

button:hover img {
    filter: invert(1) hue-rotate(180deg);
}

.controlPanel {
    position: absolute;
    display:flex;
    top: 0px;
    right: 0px;
    background-color: rgba(1,1,1,0.1);
    backdrop-filter: blur(50px);
    width: 320px;
    min-width: 320px;
    max-width: 600px;
    height: 100%
}

.controlPanelContent {
    display: flex;
    flex-direction: column;
    width:100%;
}

.adjBar {
    width: 20px;
    height: 100%;
}

.adjBar:hover::after{
    cursor:col-resize;
}

.adjBar::after {
    margin-left:3px;
    margin-bottom:4px;
    margin-top:4px;
    border-radius:4px;
    content:'||';
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc( 100% - 4px);
}

.cardLayout {
    border-radius: 10px;
    padding: 10px;
    margin: 4px;
    background-color: rgba(255,255,255,0.5);
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius:4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.btn-collapse {
    display: flex;
}

.btn-collapse::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: "";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform .2s ease-in-out;
}

.btn-collapse:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%230c63e4'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
}

input[type=file] {
    opacity: 0;
    position: absolute;
}

.segment-control-panel button{
    width:20%;
}

.viewport canvas{
    background:black;
}

#statusBar{
    width:100vw;
    background-color:grey;
}

#statusBar button{
    color:white;
}

#statusBar button:hover {
    color:grey;
    background-color: white;
}

.verticalDiv{
    align-self:center;
    height:80%;
    width:2px;
    background-color:darkgrey;
    border-radius:1px;
}

.workingScene{
    height:calc(100% - 31px);
    position:relative
}

.tool{
    margin: 0.5rem;
    flex-direction:column;
}

.cube{
    position:relative;
    width:100px;
    height:100px;
    transform-style:preserve-3d;
}

.cube div{
    position:absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    transform-style:preserve-3d;
}

.cube .cubeFace {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: radial-gradient(white, darkgrey);
}

.cubeFace label{
    font-size:22px;
    font:bold;
    color:dimgray;
}

.cube div span {
    transform: rotateY(calc(90deg * var(--i))) translateZ(50px);
}

.cube .top {
    transform: rotateX(90deg) translateZ(50px);
}

.cube .toop:before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    transform: translateZ(-150px);
    filter: blur(20px);
    background: grey;
    box-shadow: 0 0 10px rgba(1,1,1,0.2), 0 0 12px rgba(1,1,1,0.4), 0 0 14px rgba(1,1,1,0.8)
}

.cube .bottom {
    transform: rotateX(-90deg) translateZ(50px)
}

.cube .cubeFace:hover {
    background: radial-gradient(white, lightgrey);
}