.lower-bound {
    transform: rotate(180deg);
    left: 0px;
    z-index: 0;
}

.higher-bound {
    right: 0px;
    z-index: 1;
}

.dualslider {
    position: relative;
}

    .dualslider input[type=range] {
        position: absolute;
        top: 0px;
        padding: 0px;
        margin: 0px;
    }
